<div class="content">
  <button
    mat-icon-button
    (click)="goBack()"
    style="margin-right: auto; margin-left: 41px"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>{{ title }}</span>
  <button
    style="margin-left: auto; margin-right: 41px;"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon class="icon-color">notifications_none</mat-icon>
  </button>
</div>
